#result {
    border-style: solid;
    height: 62vh;
    width: 85%;
    background-color: white;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}
h2 {
    padding: 8px;
    text-align: center;
    background: #11c5bc;
    color: white;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    width: 15%;
    margin-left: 10px;
}