#result {
    height: 100%;
    width: 85%;
    background-color: rgb(110, 192, 221);
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    border-radius: 10px;
    border-width: 3px;
}
h2 {
    padding: 8px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    width: 100%;
}