#sidebar {
    height: 62vh;
    width: 15%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}

.Sideheader {
    padding: 8px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    width: 84%;
}

#bed-inputs {
    padding: 8px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#price-inputs {
    padding: 8px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    justify-content: space-around;



}

#saftey-inputs {
    padding: 8px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

#rating-inputs {
    padding: 8px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#platform-selector {
    padding: 8px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#submit-button {
    padding: 8px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}