#sidebar {
    border-style: solid;
    height: 62vh;
    width: 15%;
    display: inline-block;
    box-sizing: border-box;
}
h1{
    padding: 5px;
    text-align: center;
    background: #192cd6;
    color: white;
    font-size: 20px;
    width: 15%;
}