#c-container{
    width:100%;
    
}
.carousel{
    width:100%;
     display:flex;
  
}

#postings-only{
    
    display: flex;
    align-items: flex-start;
    white-space: nowrap;
    width: 100%;
    position: relative;
    overflow-x:scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none; 
  
}

#postings-only::-webkit-scrollbar {
    display: none;
  }

@media (max-width:990px) and (min-width:700px){
   
        
       
   
}

@media (max-width:699px) and (min-width:400px){
    #c-container{
        width:100%;
        height:fit-content
    }

    #postings-only{
        height:fit-content
    }


}

@media (max-width:399px) {
 

    
}
 