.navbar-container{
    height:8vh;
    display:flex;
    font-size: 1.2rem;
    width:100%;
    margin-bottom:0px;
    align-items:center;
    background-color: white;
    justify-content: flex-start;
    box-sizing: border-box;
}

.logo{
    font-size: 4vh;
    color:rgb(14, 24, 163);
    margin-left:3vw;
    text-decoration: none;
    text-align: left;
    display:flex;
    align-items: center;
    height:100%;
    
}
#menu-icon{
    justify-content: end;
    font-size: 4vh;
    border-style: solid;
}
.nav-menu{
    display:grid;
    grid-template-columns: repeat(6,auto);
    grid-gap:10px;
    list-style: none;
    text-align:center;
    width:70vw;
    justify-content: end;
    margin-right:2rem;
}

.nav-links{
   text-decoration: none; 
   color:black;
   padding:1.2rem 1rem;
}

.nav-links:hover{
    background-color: rgb(211, 249, 250) ;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.nav-links-mobile{
    display:none;
}

.burger-menu{
    display:none;
}

