#places{
    background-color: white;
    margin:-60px 56px -40px;
    border-radius:8px 8px 8px 8px;
    background-color: white;
    z-index:1;
    position:relative;
}

@media (max-width:990px) and (min-width:700px){
   
        
       
   
}

@media (max-width:699px) and (min-width:400px){
  


}

@media (max-width:399px) {
    #places{
        background-color: white;
        border-radius:8px 8px 8px 8px;
        background-color: white;
        z-index:1;
        position:relative;
    }

    
}
 

