#post{
    background-color:white;
    border-color:lightblue;
    border-style:solid;
    height:22vh;
    width: 22vw;
    margin-top: 2vh;
    margin-left: 2vh;
    border-radius:2%;
    display:inline-block;

}