#post{
    background-color:white;
    
    height:20vw;
    width: 16.6%;
    padding: 0 1vh;
    border-radius:2%;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    
   
}

.rental-pic{
    width:100%;
    height:100%;
    object-fit:cover;
    border-color:lightblue;
    border-style:solid;
}