#post{
    background-color:transparent;
    height:20vw;
    width: 25%;
    padding: 0 1vh;
    
    display:inline-flex;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
   
}

.rental-pic{
    width:100%;
    object-fit:cover;
    border-color:lightblue;
    border-style:solid;
    border-radius:2%;
}