 #back{
    
     background-image:url("beach1.jpg");
     height:60vh;
     width:100%;
     background-position:bottom;
 }

 h1{
     padding-top: 2%;
     padding-left: 2%;;
 }
 

 .search{
    background-color: white;
    height:6vh;
    width:55vw;
    border-style:solid;
    border-color:rgb(8, 95, 136);
    border-width:2px;
    border-radius:8px;
    border: shadow 2px;
    box-sizing: border-box;
    margin:0;
    display:inline-flex
    
    
    
 }

 .center {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .place{
      width:40%;
      height:95%;
      border-style:none;
      border-right-style: solid;
      border-radius:8px 0px 0px 8px;
      outline:none;
      
  }

  .in-dates{
    width:15%;
    height:95%;
    border-style:none;
    border-right-style: solid;
    outline:none;
  }
  .out-dates{
    width:15%;
    height:95%;
    border-style:none;
    border-right-style: solid;
    outline:none;
  }

  .guests{
    width:20%;
    height:95%;
    border-style:none;
    border-right-style: solid;
    outline:none;
  }

  .center-text{
      text-align:center;
  }

  .search-icon{
      display:inline-flex;
      height:95%;
      width: 10%;
      align-items: center;
      justify-content: center;
      box-sizing:border-box; 
  }

  #search-button{
    background-color: transparent;
    border-style:none;
    width:100%
  }

  