 #back{
    
     background-image:url("beach1.jpg");
     height:60vh;
     width:100%;
     background-position:bottom;
 }

 h1{
     padding-top: 2%;
     padding-left: 2%;;
 }

 .search{
    background-color: white;
    height:6vh;
    width:55vw;
    border-style:solid;
    border-color:rgb(8, 95, 136);
    border-width:2px;
    border-radius:8px;
    border: shadow 2px;
    
    
 }

 .center {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .place{
      width:40%;
      height:95%;
      border-style:none;
      border-right-style: solid;
      margin-left:5px;
  }

  .in-dates{
    width:15%;
    height:95%;
    border-style:none;
    border-right-style: solid;
  }
  .out-dates{
    width:15%;
    height:95%;
    border-style:none;
    border-right-style: solid;
  }

  .guests{
    width:20%;
    height:95%;
    border-style:none;
    border-right-style: solid;
  }

  .center-text{
      text-align:center;
  }

  .search-icon{
      
      display:inline-block;
      height:95%;
      width: 5%;
      text-align:center;
  }

  